<nav class="menuDashboard">
    <ul class="menuDashboardItems">
      <li class="menuItem" [ngClass]="{'active': activeLink === 0}" (click)="goTo('/', 0)">
        <span class="icon material-symbols-outlined">dashboard</span>
        <span class="text">Dashboard</span>
      </li>
      <li class="menuItem" [ngClass]="{'active': activeLink === 1}" (click)="goTo('/', 1)">
        <span class="icon material-symbols-outlined">cloud</span>
        <span class="text">Meteo</span>
      </li>
      <li class="menuItem" [ngClass]="{'active': activeLink === 2}" (click)="goTo('/', 2)">
        <span class="icon material-symbols-outlined">splitscreen</span>
        <span class="text">Tasks</span>
      </li>
      <li class="menuItem" [ngClass]="{'active': activeLink === 3}" (click)="goTo('/', 3)">
        <span class="icon material-symbols-outlined">event</span>
        <span class="text">Calendar</span>
      </li>
      <li class="menuItem" [ngClass]="{'active': activeLink === 4}" (click)="goTo('/Mails', 4)">
        <span class="icon material-symbols-outlined">mail</span>
        <span class="text">Mails</span>
      </li>
      <li class="menuItem" [ngClass]="{'active': activeLink === 5}" (click)="goTo('/', 5)">
        <span class="icon material-symbols-outlined">settings</span>
        <span class="text">Settings</span>
      </li>
      <li class="menuItem logout" (click)="goTo('/', 0)">
        <span class="icon material-symbols-outlined">logout</span>
        <span class="text">Logout</span>
      </li>
    </ul>
  </nav>
  